.header {
    display: flex;

}


.navbar {
    background-color: #fff;
    box-shadow: 10px 10px 90px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    color: #333;
    font-size: x-large;
}

.navbar-nav {
    margin: auto;
}

.navbar-nav .nav-link {
    color: #333;
    margin-right: 20px;
    font-size: 20px;
}

.navbar-nav .nav-link:hover {
    color: #0077b6;
}

@media only screen and (min-width: 992px) {
    .navbar .navbar-nav .nav-item .nav-link {
        padding: 0 0.5em;
    }

    .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
        border-right: 2px solid #000000;
    }
}



.d-flex {
    display: flex;
}

.title {
    font-size: 40px !important;
    font-family: cursive;
}